/*doing css after a long time hope that designing doesnt fail */
:root{
    --bg-color:#1a1a1a;
    --panel: #2b2b2b;
    --text: #e0e0e0;
    --accent:#00adb5;
    --accent-hover: #007f85;
    --wall:#303e46;
    --path:#ffd369;
    --visited:rgba(0,173,181,0.3);
    --start:#00ff66;
    --end: #ff0055;
    --weight:#5c4b37;
}