/*not much css but js mannnnnnnnnnnnnnnnnnnnnnnnnn */
body{
    background-color: #0f172a;
    color: #e2e8f0;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1{
    color: #facc15;
    font-size: 2.2rem;
    margin-bottom: 30px;
}
.simulator-container{
    background: #1e293b;
    width: 95%;
    max-width: 1200px;
    gap: 30px;
    padding: 30px;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.controls-panel, .output-panel{
    background-color: #334155;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 20px;
    flex: 1 1 300px;
}
.output-panel{
    flex: 1 1 600px;
}
h2{
    color: #06b6d4;
    border-bottom: 2px solid #06b6d4;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.input-group, .output-group{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
.input-group label .output-group label{
    font-weight: 500;
    color: #e2e8f0;
}
/* this is a long project man gotta finish css first */
.output-panel:not(.simulation-complete).result{
    background-color: #fbbf24;
    color: #1e293b;
    border: 1px solid #facc15;
}
.input-group input[type="number"]{
    color: #f8fafc;
    background-color: #475569;
    width: 40%;
    padding: 8px 12px;
    text-align: right;
    border: 1px solid #64748b;
    border-radius: 6px;
}
.input-group input[type="number"]:focus{
    border-color: #06b6d4;
    outline: none;
}
.checkbox-group{
    justify-content: flex-start;
    gap: 10px;
    margin-top: 15px;
}
button{
    background-color: #facc15;
    color: #1e293b;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    margin-top:25px;
    font-weight: 700;
}
button:hover{
    background-color: #fbbf24;
}
.result{
    color: #ffffff;
    background-color: #0e7490;
    font-weight: 700;/* i love 7*/
    padding: 8px 12px;
    border: 1px solid #67e8f9;
    border-radius: 6px;
    min-width: 100px;
    text-align: right;
}
.graphcontainer{
    margin-top: 20px;
    text-align: center;
}
#trajectorycanvas{
    background-color: #0f172a;
    width: 100%;
    max-width: 600px;
    height: auto;
    aspect-ratio: 1.5;
    border: 1px solid #475569;
    border-radius: 8px;
}

/* gotta make it responsive*/
@media (max-width: 768px) {
    .simulator-container{
        flex-direction: column;
        padding: 20px;
    }
    .comtrols-panel, .output-panel{
        min-width: unset;
        width: 100%;
        padding: 15px;
    }
}

a{
    text-decoration: none;
    color: #06b6d4;
    margin-bottom: 5px;
}
a:visited{
    text-decoration: none;
    color: #06b6d4;
    margin-bottom: 5px;
}